@import '../default/var-reset.scss';

main {
    min-height: 100vh;
    padding-top: 60px;

    .blank-container {
        width: 100%;
        height: 25vh;
        border-radius: 0 0 0 0;
        background-color: $accent;
    }

    .welcome-container {
        width: 100%;
        margin-top: -50px;
        padding: 0 15px;

        .welcome-content {
            max-width: 900px;
            margin: 0 auto;
            text-align: center;
            border-radius: 8px;
            box-shadow:
                rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
            background-color: $white;

            .img-container {
                width: 100%;

                img {
                    max-width: 225px;
                    margin-top: -55px;
                }
            }

            .text-container {
                width: 100%;
                padding: 35px 0 40px 0;

                h3 {
                    font-family: $outline;
                    font-size: 1.3rem;
                    text-transform: uppercase;
                }

                span {
                    -webkit-text-stroke: 1px $accent;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }

    .flex-container {
        width: 100%;
        padding: 0 15px 75px 15px;

        .flex-content {
            max-width: 900px;
            margin: 0 auto;

            .content-box {
                width: 100%;
                height: 275px;
                margin-top: 20px;
                border-radius: 8px;
                box-shadow:
                    rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
                    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
                background-color: $white;

                .text-container {
                    display: flex;
                    width: 100%;
                    height: 100%;
                    padding: 0 15px;
                    align-items: center;
                    justify-content: center;
                    word-break: break-all; // keep longer phone numbers or e-mails from overflowing.

                    ul {
                        list-style: none;

                        .label {
                            margin-bottom: 15px;
                            font-family: $brand;
                            font-size: 0.89rem;
                            color: $black-80;

                            p {
                                font-size: 1rem;
                                color: $shade-80;
                            }
                        }
                    }
                }
            }

            .motivation {
                background-color: $accent;

                .text-container {
                    h3 {
                        font-family: $outline;
                        font-size: 1.3rem;
                        text-transform: uppercase;
                    }

                    span {
                        -webkit-text-stroke: 1px $white;
                        -webkit-text-fill-color: transparent;
                    }

                    button {
                        cursor: pointer;
                        border: none;
                        font-family: $brand;
                        font-size: 0.89rem;
                        color: $black-80;
                        background-color: transparent;
                    }

                    a {               
                        line-height: 25px;
                        text-decoration: none;             
                        font-family: $brand;
                        font-size: 0.89rem;
                        color: $black-80;
                    }
                }

                .modal {
                    display: none;
                    position: fixed;
                    width: 100%;
                    height: 100%;
                    top: 0;
                    left: 0;
                    background-color: #000000c0;
                    animation-name: slideIn;
                    animation-duration: 0.4s;
                    z-index: 10;
            
                    .modal-content {
                        position: fixed;
                        width: 100%;
                        bottom: 0;
                        font-family: $motivational;
                        font-size: 0.87rem;
                        text-transform: uppercase;
                        animation-name: slideIn;
                        animation-duration: 0.3s;
            
                        .modal-header {
                            background-color: $accent;
            
                            .modal-header-content {
                                display: flex;
                                max-width: 550px;
                                margin: 0 auto;
                                padding: 10px 15px;
                                align-items: center;
                                justify-content: space-between;
            
                                .close {
                                    cursor: pointer;
                                    font-size: 1.6rem;
                                    line-height: 20px;
                                    color: #ff3355;
                                }
                            }
                        }
            
                        .modal-body {
                            background-color: $white;
            
                            .modal-body-content {
                                max-width: 550px;
                                margin: 0 auto;
                                padding: 20px 15px 30px 15px;
            
                                .form-wizard {
            
                                    // Hide steps that aren't active
                                    .step {
                                        display: none;
            
                                        .input-group {
                                            label {
                                                font-family: $motivational;
                                                font-size: 0.89rem;
                                                color: $shade-80;
                                            }
            
                                            input[type=text],
                                            input[type=password] {
                                                width: 100%;
                                                height: 40px;
                                                margin: 5px 0 20px 0;
                                                padding-left: 5px;
                                                border: 1px solid $shade-80;
                                                outline: none;
                                            }
            
                                            input[type=text]:focus,
                                            input[type=password]:focus {
                                                border: 1px solid $accent;
                                                transition: 0.25s ease-in-out;
                                            }
                                        }
            
                                        // Show error when input is invalid.
                                        .input-group.has-error .form-control {
                                            border-color: #ff3355;
                                        }
                                    }
            
                                    .button-group {
                                        display: flex;
                                        justify-content: space-between;
            
                                        button {
                                            cursor: pointer;
                                            padding: 8px 12px;
                                            border: 1px solid $shade-80;
                                            border-radius: 0 5px 0 5px;
                                            background-color: transparent;
                                            color: $shade-80;
                                        }
            
                                        #next:hover {
                                            border: 1px solid $accent;
                                            color: $accent;
                                            transition: 0.25s ease-in;
                                        }
            
                                        // Reverse styling for the previous button.
                                        #previous {
                                            padding: 0;
                                            border: none;
                                            font-size: 1.1rem;
                                            background-color: transparent;
                                            color: $shade-80;
                                        }
            
                                        #previous:hover {
                                            color: $accent;
                                        }
                                    }
            
                                    .btn-prev {
                                        display: none;
                                    }
            
                                    .btn-prev.is-active {
                                        display: inline-block;
                                    }
            
                                    // Adding the is-active class makes the current step visible.
                                    .step.is-active {
                                        display: block;
                                    }
            
                                    .progress-bar {
                                        width: 100%;
                                        height: 3px;
                                        margin-bottom: 20px;
                                        background-color: $accent;
                                        transform-origin: left center;
                                        transform: scaleX(0.01);
                                        transition: transform 0.5s ease;
                                    }
                                }
                            }
                        }
                    }
                }                
            }
        }
    }
}

@media (min-width: 650px) {
    main {
        .flex-container {
            width: 100%;

            .flex-content {
                display: flex;
                max-width: 900px;

                .content-box {
                    width: 50%;
                    margin-top: 50px;
                }

                .left {
                    margin-right: 10px;
                }

                .right {
                    margin-left: 10px;
                }
            }
        }

        #flex-direction {
            flex-direction: row-reverse;
        }
    }
}

@media (min-width: 750px) {
    main {
        .welcome-container {
            .welcome-content {
                .img-container {
                    img {
                        max-width: 275px;
                    }
                }

                .text-container {
                    h3 {
                        font-size: 1.5rem;
                    }
                }
            }
        }

        .flex-container {
            .flex-content {
                .motivation {
                    .text-container {
                        h3 {
                            font-size: 1.5rem;
                        }
                    }
                }
            }
        }
    }
}

// modal animations
@-webkit-keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}

@keyframes slideIn {
    from {
        bottom: -300px;
        opacity: 0
    }

    to {
        bottom: 0;
        opacity: 1
    }
}